.bottombar-container{
    width: 70%;
    height: 4vh;
    position: relative;
    left: 15%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    /* z-index: 9999; */
}

.bottombar-container input,.bottombar-container button{
    margin-right: 20px;
}

.bottombar-container button{
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
}