.checkout-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkout{
    display: grid;
    grid-template-areas: "receipt payment";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 768px){
    .checkout{
        grid-template-areas: "receipt" "payment";
        grid-template-columns: 1fr;
    }
}