.box-container {
    display: flex;
    font-size: 1.5rem;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
  }
  
  .heading {
    color: #fff;
    text-transform: capitalize;
  }
  
  .input-vertical,
  .input-horizontal {
    margin-bottom: 1rem;
  }
  
  .input-vertical p {
    margin-bottom: 0.5rem;
  }
  
  .input-horizontal {
    display: flex;
    gap: 1.5rem;
  }
  
  textarea,
  input {
    width: 30%;
  }
  
  select {
    width: fit-content;
    margin-right: 1rem;
  }
  
  textarea,
  select,
  input {
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }
  
  .submit-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 1rem;
    margin-top: 2rem;
    color: #fff;
    background-color: #5c5c5f;
    width: fit-content;
    cursor: pointer;
    border-radius: 0.5rem;
  }