.Form-reserve{
    /* display: flex;
    justify-content: center; */
    margin-left: 10%;
    width: 80vw;
    height: 80vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(166,0,0,1) 100%);
    display: flex;
    flex-direction: row;
}

.Tone-1{
    width: 20vw;
    height: 80vh;
    background: linear-gradient(180deg, rgba(129,122,122,1) 0%, rgb(255, 255, 255) 100%);
}

.Tone-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* border-bottom: solid 5px red; */
}


.Tone-card img{
    width: 20vw;
    height: 25vh;

}


.Tone-container{
    background-color: white;
    margin-top: 0;
    height: 7vh;
}

.Tone-container p{
    margin-top: 0;
    margin-bottom: 0;
}

p{
    font-weight: 700;
    font-size: larger;
}

.Show-detail{
    width: 20vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Show-detail p{
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight:800 ;
    font-size: large;
    background-color: black;
    border-radius: 2%;
    color:white;
    /* overflow: scroll; */

    /* margin-left: 20%; */
}

.Tone-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.Tone-2 h1{
    background-color: white;
    color: black;
    margin-bottom: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.Tone-2 h2{
    background-color: white;
    color:cadetblue;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}


.form_select select{
    width: 100%;
    height: 15%;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 10px;
    color:cadetblue;
    font-weight:bolder;
    font-size: large;
    /* color: white; */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(166,0,0,1) 100%);
}

.Tone-2 input:focus{
    border: solid 5px gray;
    font-size: large;
    color: gray;
}

.Tone-2-button{
    margin-top: 100px;
    margin-left: 2px;
    width: 50%;
    height: 4%;
    display: flex;
    justify-content: space-between;
}

.Tone-2-button button,#next-1,#back-1{
    height: 100%;
    border-radius: 5px;
    border-color: wheat;
    font-size: medium;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

#back-1{
    background-color: white;
    width: 150%;
    margin-left: 10%;
}

#next-1{
    background-color: black;
    width: 150%;
    margin-left: 10%;
    color: white;
}

.Tone-2-button button:hover{
    box-shadow: 0 0 30px rgba(0,0,0,1.9); 
}