.Center-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.Center-container img{
    width: 100%;
    height: 250px;
}

.Card:hover{
    box-shadow: 0 0 29px rgba(255,0,0,.5); 
}

.Card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 50px;
    margin-top: 30px;
}

.Container{
    padding: 2px 16px;
    width: 400px;
    min-height: 100px;
    background-color: black;
    overflow-wrap: break-word;
}

.Container h3{
    color:white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
    /* word-wrap: break-word; */
}

.Container h1{
    font-weight:900;
    font-family: 'Courier New', Courier, monospace;
    color:brown;
}

.Link-form-reserve{
    text-decoration: none;
}