body{
    margin: 0 auto;
}

.sidebar{
    display: flex;
    justify-content: space-between;
}

.colunm-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
}