.Rightbar-container{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(166,0,0,1) 100%);
    width: 10%;
    height: 90vh;
    position: sticky;
    right: 0;
}